*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #424141;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.main{
    display: flex;
    flex-direction:row;
    margin: 10px;
    padding-right: 20px;
}
.barrita{
    background-color: rgb(79, 160, 133);
    height: 70px;
    border-radius: 10px 10px 0 0;
}
.containeruno {
    background-color: rgb(247, 250, 252);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgb(173, 173, 173);
    height: 420px;
}
.containerdos{
    background-color: rgb(247, 250, 252);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgb(175, 175, 175);
    margin-top: 15px;
}
.primeracolumna{
    display: flex;
    flex-direction: column;
    width:70%;
    margin-right: 40px;
    margin-left: 10px;
}
.segundacolumna{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    padding-left: 30px;
    margin-left: 15px;
}
.cuerpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    display: flex;
    border-radius: 15px;
    border-color: rgb(112, 107, 100);
    align-items: flex-start;
    width: 400px;
    height: 50px
    
}
.izquierda{
    text-decoration: none;
    padding-top: 7px;
    display: flex;
    
}
.derecha{
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    gap: 15px;
}
.Editar Perfil{
    size: 7px;
}
.containeruno h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px ;
    color: black;
    padding-top: 90px;
    
}
.containerdos{
    height: 110px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.segundacolumna h1{
    font-size: 30px;
}
h3{
    padding: 15px 15px 15px 5px;
}
h5{
    padding: 7px 15px 7px 5px;
}
h2{
    padding-bottom: 10px;
    padding-top: 5px;
}
.a{
    display: flex;
    justify-content: start;
    align-content: center;

}
.especial{
    font-size: 15px;
    color: white;
    background-color: rgb(74, 165, 165);
    padding: 7px;
    border-radius: 5px;
    border: 0;
}


.Solicitudes{
    border-radius: 10px;
    width: auto;
    height: auto;
    border-color: rgb(61, 117, 190);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 2px rgb(175, 175, 175);
    padding-left: 5px;
    padding-top: 20px;
}
.soli{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.lineuno{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 15px;
    gap: 30px;
}
.linedos{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 30px;
}
.check{
    padding-left: 100px;
}
.textito{
    display: flex;
    align-items: center;
}
.fotoderecha{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid  rgb(79, 160, 133);
}
.acceso{
    border-radius: none;
    width: 60px;
    height: 40px;
}

.fotoprincipal{
    border-radius: 100%;
    position: relative;
    z-index: 10;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: 10px
}
li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.abajo{
    box-shadow: 7px 7px 5px 2px rgb(175, 175, 175);
    border-radius: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    padding-top: 10px;
    padding-left: 10px;
}
.fotito{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 10;
    border: 1px black solid;
}
.check{
    border-radius: none;
    border-bottom: none;
    width: 70px;
    height: 30px;
}

.configuracióntexto{
    color: rgb(17, 99, 99);
}
.tuerca{
    width: 20px;
    height: 20px;
}
